.comment {
  margin-bottom: 15px;
  display: flex;
  width: 100%;
}

.comment:last-of-type {
  margin-bottom: 0;
}

.comment-ballon {
  margin-left: 15px;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--grey);
}

.comment-text {
  font-size: 0.8125rem;
  line-height: 1.4;
}

.comment-text span {
  font-weight: 700;
}
