.avatar {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  overflow: hidden;
  background-color: var(--grey);
  display: block;
  flex-shrink: 0;
}

.avatar.-tiny {
  width: 34px;
  height: 34px;
}
